.__contact-container{
    width: 100%;
    height: 70rem;
    background-color: var(--primary-bg);
}

.__contact-title h2{
    font-size: 26rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--secondary);
    overflow: hidden;
}

/* .__contact-card {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
*/

  .__contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .__contact-form .group label {
    font-size: 18px;
    color: var(--white-variant);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--primary-variant);
    transition: all .3s ease;
  }
  
  .__contact-form .group input,
  .__contact-form .group textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--white-variant);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
    color: white;
  }
  
  .__contact-form .group input:placeholder-shown+ label, .__contact-form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .__contact-form .group input:focus,
  .__contact-form .group textarea:focus {
    border-color: var(--tertiary);
  }
  
  .__contact-form .group input:focus+ label, .__contact-form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: var(--primary-variant);
    color: var(--tertiary);
    font-weight: 600;
    font-size: 16px;
  }
  
  .__contact-form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .__contact-form button {
    background-color: var(--tertiary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .__contact-form button:hover {
    background-color: var(--white);
    color: var(--primary-bg);
  }


  
  .__contact-content h2{
    position: relative;
    top: -5rem;
    left: 2rem;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--white-variant);
  }

  .__contact-content span{
    font-weight: 500;
    border-bottom: 2px solid var(--tertiary);
  }
  
 .__contact-content h3{
    width: 50%;
    position: relative;
    left: 12rem;
    top: -4rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--white-variant);
 }


 .__contact-socials{
   position: relative;
   top: 5rem;
   left: 2.5rem;
   width: 90%;
 }

 .__contact-socials h3{
   color: var(--white-variant);
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
 }

 .__contact-socials img{
   height: 24px;
   width: 32px;
   margin: 10px 0 0 1px;
   transform: scale(0.8);
   transition: all .3s ease-in-out;
 }  

 .__contact-socials img:hover{
    transform: scale(1);
 }


.__contact-wrapper{
  position: relative;
  top: -12rem;
  left: -10rem;
  height: 40rem;
  width: 60rem;
  background-color: var(--primary-variant);
  background-image:    linear-gradient(#647BFF, #647BFF),
                       linear-gradient(#647BFF, #647BFF),
                       linear-gradient(#647BFF, #647BFF),
                       linear-gradient(#647BFF, #647BFF),
                       linear-gradient(#1B1E2A, #1B1E2A);
    background-repeat: no-repeat;
    background-size: 18px 25%, 25% 18px, 18px 25%, 25% 18px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
}

.__contact-card{
  position: relative;
  left: 18rem;
  top: -10px;
  width: 35rem;
  height: 20rem;
  background-color: var(--primary-variant);
}


.__contact-details h2{
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: var(--tertiary);
  padding: 30px 0 20px 30px;
}



.__contact-footer{
  position: relative;
  top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__contact-footer p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 300;
}


.__result {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   color: white;
   padding-top: 24px;
}


@media screen and (max-width: 992px){
  .__contact-container{
    height: 60rem;
  }
  .__contact-title h2{
    font-size: 14rem;
  }
  .__contact-content h2{
    top: -2rem;
    left: 1.5rem;
    font-size: 3rem;
  }
  .__contact-content h3{
    left: 4rem;
    top: -1rem;
    font-size: 2rem;
    width: 90%;
 }
 .__contact-wrapper{
    top: -8rem;
    left: -1rem;
    height: 40rem;
    width: 30rem;
    background-size: 10px 25%, 25% 10px, 10px 25%, 25% 10px, calc(100% - 8px) calc(100% - 8px);
 }
 .__contact-card{
    left: 2.2rem;
    top: -10px;
    width: 25rem;
    height: 20rem;
    background-color: var(--primary-variant);
}
.__contact-details h2{
    font-size: 2.5rem;
}
.__contact-socials{
    top: 13rem;
    left: 2.5rem;
}

}

@media screen and (max-width: 768px){
  .__contact-container{
    height: 50rem;
  }
  .__contact-title h2{
    font-size: 10rem;
  }
  .__contact-content h2{
    top: -2rem;
    left: 1rem;
    font-size: 2.5rem;
  }
  .__contact-content h3{
    left: 2rem;
    top: -1rem;
    font-size: 1.8rem;
 }
 .__contact-wrapper{
    top: -5rem;
    left: -1rem;
    height: 32rem;
    width: 25rem;
    background-size: 5px 25%, 25% 5px, 5px 25%, 25% 5px, calc(100% - 8px) calc(100% - 8px);
 }
 .__contact-card{
    left: 1.5rem;
    top: -10px;
    width: 22rem;
    height: 15rem;
    background-color: var(--primary-variant);
 }
 .__contact-details h2{
    font-size: 2rem;
    padding: 20px 0 10px 30px;
 }
 .__contact-form .group input,
 .__contact-form .group textarea {
    padding: 6px;
    border-radius: 3px;
 }
 .__contact-form .group label {
    font-size: 16px;
    top: 1px;
    left: 5px;
}
.__contact-socials{
    top: 10rem;
    left: 2rem;
}
.__contact-footer{
   top: 3rem;
}
}

@media screen and (max-width: 576px){
  .__contact-container{
    height: 60rem;
  }
  .__contact-title h2{
    font-size: 7rem;
  }
  .__contact-content h2{
    top: -2rem;
    left: 1rem;
    font-size: 2.5rem;
  }
  .__contact-content h3{
    left: 4rem;
    top: -1rem;
    font-size: 1.8rem;

  }
 .__contact-wrapper{
    top: -5rem;
    left: 4rem;
    height: 32rem;
    width: 25rem;
    background-size: 5px 25%, 25% 5px, 5px 25%, 25% 5px, calc(100% - 8px) calc(100% - 8px);
 }
 .__contact-socials{
   top: 34rem;
   left: 2.5rem;
}
 .__contact-socials ul{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-left: -5rem;
}
.__contact-footer{
   top: 5rem;
}
.__contact-footer p{
  font-size: 14px;
}

}


@media screen and (max-width: 390px){
  .__contact-container{
    height: 55rem;
  }
  .__contact-title h2{
    font-size: 4.2rem;
  }
  
  .__contact-content h2{
    top: -1rem;
    left: 8px;
    font-size: 1.5rem;
  }
  .__contact-content h3{
    left: 3rem;
    top: -1rem;
    font-size: 1.2rem;
  }
  .__contact-wrapper{
    top: -4rem;
    left: 2rem;
    height: 30rem;
    width: 18rem;
    background-size: 3px 25%, 25% 3px, 3px 25%, 25% 3px, calc(100% - 8px) calc(100% - 8px);
  }
  .__contact-card{
     left: 1rem;
     top: -10px;
     width: 16rem;
     height: 15rem;
     background-color: var(--primary-variant);
  } 
  .__contact-details h2{
     font-size: 1.5rem;
     padding: 20px 0 10px 14px;
  }
  .__contact-socials{
     top: 35rem;
  }
  .__contact-socials li{
    margin: 0 -100px;
  }
  .__contact-socials h3{
    font-size: 14px;
  }
  .__contact-footer{
    top: 6rem;
  }
  .__contact-footer p{
    font-size: 12px;
  }
  .__result {
    font-size: 10px;
    padding-top: 18px;
  }
  .__contact-form .group label {
    font-size: 10px;
    color: var(--white-variant);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--primary-variant);
    transition: all .3s ease;
  }
}


@media screen and (max-width: 360px){
  .__contact-wrapper{
    left: 1.5rem;
  }
  .__contact-socials{
    padding-left: 2rem;
  }
}